:root {
  --hue: 204;
  --saturation: 100%;
  --lightness: 50%;
  --f-base: 58.6%;
  --c-text: #333;
  --c-white: #fff;
  --c-grey: #dcdcdc;
  --c-primary: hsl(var(--hue),var(--saturation),var(--lightness));
  --c-primary-dark: hsl(var(--hue),var(--saturation),calc(var(--lightness)*0.8));
  --bg-gradient: #e6e6e6;
  --bk-desktop-large: 1252px;
  --bk-mobile-min: 360px;
  --p-primary: 8px;
  --m-primary: 8px;
  --card-separator: var(--m-primary);
  --size-arrow: 10px;
  --br-radius: 6px;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: var(--f-base);
}

body {
	width: 100%;
  font-size: 1.6rem;
  color: var(--c-text);
  min-width: var(--bk-mobile-min);
}

a, input {
  outline: 0;
}

img {
  max-width: 100%;
  max-height: 200px;
  border: 0;
  display: block;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  background-color: var(--c-white);
  padding: var(--p-primary);
  font-size: 1.6rem;
  padding-right: calc(var(--size-arrow)*4);
  color: var(--c-text);
  cursor: pointer;
  border: 0;
}

select::-ms-expand {
  display: none;
}

h1 {
  font-size: 7vw;
}

h2 {
  font-size: 3.4vw;
  line-height: 1.3;
  padding-bottom: var(--p-primary);
}

.cm-canvas {
  max-width: var(--bk-desktop-large);
  margin: 0 auto;
  padding: 0 calc(var(--p-primary)*2);
}

.cm-header {
  position: relative;
  min-height: 12vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-right: 36vw;
  align-content: center;
  color: var(--c-white);
  text-shadow: 2px 2px 8px var(--c-text);
}

.cm-header > * {
  position: relative;
  width: 100%;
  padding-left: calc(var(--p-primary)*2);
  font-weight: 700;
}

.cm-header:after {
  background-color: rgba(29,29,29,0.15);
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.cm-header::before {
  position: absolute;
  background: url("../images/head.jpg") no-repeat;
  background-size: cover;
  content: '';
  width: 100%;
  height: 100%;
}

.cm-main {
  position: relative;
}

.cm-section {
  position: sticky;
  top: 0;
  padding: calc(var(--p-primary)*3) 0;
  background-color: var(--c-white);
  background-image: linear-gradient(180deg, var(--c-white) 0%, var(--c-white) 88%, var(--bg-gradient) 100%);
}

.cm-form {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  background: var(--c-white);
}

.cm-form-search {
  position: relative;
  width: 100%;
}

.cm-form-input {
  padding: var(--m-primary) var(--m-primary) calc(var(--m-primary)*2);
  font-size: 1.6rem;
  width: 100%;
  border-radius: var(--br-radius) 0 0 var(--br-radius);
  border: 1px solid var(--c-primary);
  border-right: 0;
  color: var(--c-text);
}

.cm-form-input:-webkit-autofill {
    box-shadow: inset 0 0 0 calc((var(--p-primary)*2) + 16px) var(--c-white);
}

.cm-form-input::placeholder {
  color: var(--c-text);
  opacity: 0.5;
  transition: opacity 0.5s ease-in-out;
}

.cm-form-input:focus::placeholder {
  opacity: 0;
}

.cm-form-label {
  opacity: 0;
  position: absolute;
  bottom: 2px;
  left: calc(var(--p-primary) + 2px);
  transition: opacity 0.5s ease-in-out;
  font-size: 1.1rem;
}

.cm-form-input:focus + .cm-form-label {
  opacity: 0.5;
}

.cm-button {
  padding: calc(var(--p-primary)*1.5);
  border: 1px solid var(--c-primary);
  font-size: 1.6rem;
  color: var(--c-white);
  background-color: var(--c-primary);
  cursor: pointer;
  border-radius: 0 var(--br-radius) var(--br-radius) 0;
  transition: all 0.5s ease-in-out;
}

.cm-button:hover {
  background-color: var(--c-primary-dark);
  border-color: var(--c-primary-dark);
}

.cm-filters {
  display: none;
}

.cm-cardWrapper {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + var(--card-separator)*2);
  margin: calc(var(--m-primary)*2) 0 0 calc(var(--card-separator)*-1);
}

.cm-card {
  display: flex;
  width: 50%;
}

.cm-card-link {
  padding: var(--p-primary);
  margin: var(--m-primary);
  border: 1px solid var(--c-grey);
  border-radius: var(--br-radius);
  width: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  text-decoration: none;
  color: var(--c-primary);
  transition: all 0.5s ease-in-out;
}

.cm-card-link:hover {
  color: var(--c-primary-dark);
  box-shadow: 0px 0px 8px 2px var(--c-grey);
}

.cm-card-link span:first-of-type {
  margin-top: var(--m-primary);
}

.cm-card-rating, .cm-card-year {
  color: var(--c-text);
  font-weight: 300;
  font-size: 1.3rem;
}

.cm-card-image {
  display: flex;
  flex-grow: 1;
  margin: calc(var(--m-primary)*2) auto 0;
  flex-direction: column-reverse;
}

.cm-show {
  display: block;
}

.cm-hide {
  display: none;
}

.cm-select {
  position: relative;
  display: inline-block;
  margin-left: var(--m-primary);
  border: 1px solid var(--c-primary);
  border-radius: var(--br-radius);
  transition: border-color 0.5s ease-in-out;
}

.cm-select::after {
  content: '';
  width: var(--size-arrow);
  height: var(--size-arrow);
  border-top: 2px solid var(--c-primary);
  border-left: 2px solid var(--c-primary);
  transform: rotate(225deg) translateY(-50%);
  right: var(--size-arrow);
  top: 50%;
  position: absolute;
  margin-top: calc(var(--size-arrow)*-1);
  pointer-events: none;
  transition: border-color 0.5s ease-in-out;
}

.cm-select:hover {
  border-color: var(--c-primary-dark);
}

.cm-select:hover::after {
  border-color: var(--c-primary-dark);
}
@media screen and (min-width: 481px) { /* --bk-movil */
  .cm-form-search {
    width: 36%;
    min-width: 300px;
  }

  .cm-card {
    width: 50%;
  }
}

@media screen and (min-width: 601px) {
  :root {
    --f-base: 62.5%;
  }

  .cm-header {
    min-height: 17vh;
  }

}

@media screen and (min-width: 728px) {
  .cm-card {
    width: 25%;
  }

  img {
    max-height: inherit;
  }
}

@media screen and (min-width: 997px) {
  .cm-card {
    width: 20%;
  }

  body {
    overflow-y: scroll
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3.6rem;
  }
}
